<!DOCTYPE html>
<html>

<head>
    <title>Brown Sports</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
</head>

<body>  
    <div id="wrapper">
        <div id="header">
            <a href="/">
                <img class="center-block" src="http://i.imgur.com/hfhRSSJ.jpg" height="100">
            </a>
        </div>
    </div>
    <div id="content">
        <div class="jumbotron"> 
            <div class="greetings container"> 
                <h2>
                    Please select a player from our database.
                </h2>

                <form>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle= "dropdown"> NBA Players
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for n in data %}
                            <li>{{n}}</li> 
                        </ul>
                    </div>
                </form>
                    <!--select class="form-control col-md-1" style="width:auto" id="league-type">     
                        {% for n in data %}
                        <option> {{n}} </option> 
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-info" value="Submit Button"-->
                </div>
            </div>  
        </div>
    </div>
    <div id="footer">
    </div>
</body>
<script src="https://maxcdn.bootsrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


