<!DOCTYPE html>
<html>

<head>
    <title>Brown Sports</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
</head>

<body>  
    <div id="wrapper">
        <div id="header">
            <a href="/">
                <img class="center-block" src="http://i.imgur.com/hfhRSSJ.jpg" height="100">
            </a>
        </div>
    </div>
    <div id="content">
        <div class="jumbotron"> 
            <div class="greetings container"> 
                <h2>
                    Here's some info about the NFL...                   
                </h2>
                <h2> 
                    The average years of experience is {{ data.1 }} years.<br>
                    The number of players on a team are {{ data.2}} players.<br>
                    Players on average are {{ data.3 }} years old.<br>
                    Average age of teams are {{ data.4 }}.<br>
                    The average win perentage in the league is {{ data.5 }}.<br>
                </h2>
                <!-- INFO ABOUT THE NBA IN A TABLE OR STATEMENT-->
                <p class="paragraph"> bruh we made it</p>                
                <h2>
                    Which would you like to learn more about, a team or player?
                </h2>   
                <div class="form-group col-md-offset-5" style="min-width: 700px" id="searchdiv">
                    <label for="league_type"></label> 
                    <br>
                    <div class="row" style="width:auto">
                        <a href="nfl-player.html" >
                            <button type="button" class="btn btn-info">Player</button>
                        </a> 
                        <a class="col-md-1" href="">
                        </a>
                        <a href="nfl-team.html">
                            <button type="button" class="btn btn-info">Team</button>
                        </a> 
                    </div>   
                    <!--select class="form-control col-md-1" style="width:auto" id="league-type">     
                        {% for n in data %}
                        <option> {{n}} </option> 
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-info" value="Submit Button"-->
                </div>
            </div>  
        </div>
    </div>
    <div id="footer">
    </div>
</body>
<script src="https://maxcdn.bootsrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


